<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="icon"
          type="image/png"
          href="{% static 'home/images/hbnlogo.png' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Honey Bee Network {% block title %}{% endblock %}</title>
    <script
      src="http://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous">

    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
     {% block head %}{% endblock %}
</head>
<body>
<ol class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li><a href="{% url 'home:about-us' %}">About-Us</a></li>
        {% if not request.user.is_authenticated %}
        <li class="pull-right"><a href="{% url 'home:register'%}">Register</a></li>
        <li class="pull-right"><a href="{% url 'home:login'%}">Login</a></li>
        {% else %}
        <li class="pull-right"><a href="{% url 'home:logout'%}">Logout</a></li>
        {% endif %}
    </ol>
</ol>
{#FaceBook Login Script#}
{#End FB Login Script#}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <a href="{% url 'home:index' %}">
                        <div class="portfolio-logo"></div>
                    </a>
                    <!--<span class="mdl-layout__title">Honey Bee Network</span>-->
                </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-fo0rce-preferred-font">
                <a class="mdl-navigation__link" href="{% url 'home:innovation' %}">Innovations</a>
                <a class="mdl-navigation__link" href="{% url 'home:activities' %}">Activities</a>
                <a class="mdl-navigation__link" href="#">Magazine</a>
                <a class="mdl-navigation__link" href="#">Forum</a>
                {% block navbar %}{% endblock %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="{% url 'home:innovation' %}">Innovations</a>
                <a class="mdl-navigation__link" href="{% url 'home:activities' %}">Activities</a>
                <a class="mdl-navigation__link" href="#">Magazine</a>
                <a class="mdl-navigation__link" href="#">Forum</a>
                <a class="mdl-navigation__link" href="#">About Us</a>
            {% block navbar2 %}{% endblock %}
        </nav>
    </div>
    <main class="mdl-layout__content">
    <div class="fb-like"  data-share="true"  data-width="450"  data-show-faces="true">
</div>

                {% block body %}
                {% endblock %}
</div>
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Find Us: </h1>
      <ul class="mdl-mega-footer__link-list">
          <a href="tel:+91-8437593296"><li><i style="font-size:24px" class="fa">&#xf095;</i>&nbsp;+91-8437593296</li></a><br/>
          <a href="mailto:summerschool@sristi.org?subject=Online Enquiry"><li><i style="font-size:24px" class="fa">&#xf003;</i>&nbsp;summerschool@sristi.org</a></li><br/>
        <li><i style="font-size:24px" class="fa">&#xf124;</i>&nbsp;Indian Institute Management</li>
        <li>Bhakri Road</li>
        <li>Ahmedabad, Gujrat</li>
        <li><strong>Pin Code:</strong>226012</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Details</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">How we Work?</a></li>
        <li><a href="#">Initiatives</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Find Us Online</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>
        <a href="#" title="Page on Twitter" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
        </li><br/>
        <li>
            <!-- Facebook -->
<a href="#" title="Page on Facebook" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
        </li><br/>
        <li>
            <!-- Google+ -->
<a href="#" title="Page on Google+" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--googleplus"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
        </li><br/>
        <li>
            <!-- LinkedIn -->
<a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Page on LinkedIn" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--linkedin"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
        </li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Feedback/Suggestions</h1>
      <form action="#" method="POST" class="">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                                <label class="mdl-textfield__label mdl-color-text--grey" for="note">Enter Note</label>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                                    Submit
                                </button>
                            </p>
                        </form>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Honey Bee Network</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
