{% extends 'home/base.html' %}
{% block title %}Innovation Details{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block body %}
        <div class="mdl-grid">
             <div class="mdl-cell mdl-cell--2-col"></div>
          <div class="mdl-cell mdl-cell--4-col">
              <img class="article-image1" src="{{ innovationofday.image.url }}" border="1" alt="">
          </div>
            <div class="mdl-cell mdl-cell--2-col"></div>
          <div class="mdl-cell mdl-cell--4-col">

              <ul class="demo-list-item mdl-list">
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      Innovator: {{ innovationofday.innovator_name }}
                    </span>
                  </li>
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      Title: {{ innovationofday.title }}
                    </span>
                  </li>
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      Location: {{ innovationofday.location }}
                    </span>
                  </li>
              </ul>

          </div>
        </div>
        <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
             <div class="mdl-cell mdl-cell--9-col">
                 <h3>Description:</h3><br>
                 {{ innovationofday.detail| linebreaks }}
             </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
{#                    <form action="{% url 'home:inn-update' inn.id %}" method="post" style="display: inline;">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="innovation_id" value="{{ inn.id }}" />#}
{#                                <button type="submit" class="btn btn-default btn-sm">#}
{#                                    <span class="glyphicon glyphicon-edit"></span>#}
{#                                </button>#}
{#                    </form>#}



{#                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Irure mollit est sit labore</h3>#}
{##}
{#                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">#}
{#                            <p>#}
{#                                Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.#}
{#                            </p>#}
{#                        </div>#}

{% endblock %}