{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{% block albums_active %}active{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block navbar %}
    <form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
						<label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
								<i class="material-icons">search</i>
							</label>
							<div class="mdl-textfield__expandable-holder">
								<input class="mdl-textfield__input" type="search" id="site-search" />
								<label class="mdl-textfield__label" for="site-search">Search</label>
							</div>
						</div>
				</form>
{% endblock %}

{% block body %}
    <div class="mdl-grid portfolio-max-width">
    </br>
{% for inn in all_inn %}
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">

                    <div class="mdl-card__media">
                        <img class="article-image" src=" {{inn.image.url}}" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{inn.title}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       {{ inn.brief }}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{% url 'home:detail' inn.id %}">Read more</a>
                    </div>
    </div>
{% endfor %}
    </div>

{% endblock %}